<div class="jumbotron text-xs-center">
    <h1 class="display-3">Pronto! Dados Inseridos</h1>    
    <hr>    
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/Home" role="button">VOLTAR A BUSCA!</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/Pais/Index" role="button">VER DADOS CADASTRADOS!</a>
    </p>
</div>