@model Teste.Models.Pais

@{
    ViewData["Title"] = "Busca";
}

<h2>Busca</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Pais" asp-action="GetCountry" method="get">
            <div class="form-group">
                <label asp-for="country" class="control-label"> Pais (sigla) </label>
                <input asp-for="country" type="text" name="country" id="country" class="form-control" />
                <span asp-validation-for="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="abbr" class="control-label"> Estado (sigla) </label>
                <input asp-for="abbr" type="text" name="abbr" id="abbr" class="form-control" />
                <span asp-validation-for="abbr" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>

            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/Pais/Index" role="button">VER DADOS CADASTRADOS!</a>
            </p>

        </form>
    </div>
</div>

<html>
<body>
    <form>
        <input type="button" value="Voltar" onClick="history.go(-1)">
        <input type="button" value="Avançar" onCLick="history.forward()">
        <input type="button" value="Atualizar" onClick="history.go(0)">
    </form>
</body>
</html>


